# Ignore everything by default
/*

# Allow only these folders
!/Database/
!/Models/
!/Views/
!/Routing/
!/Helpers/
!/config/
!/public/

# Allow only these files
!/composer.json
!/composer.lock
!/console
!/index.php
!/init-app.php
!/README.md
!/.gitignore

# Ignore junk and temp
/vendor/
/temp-backup/
/scripts/
/Response/
/Types/
/Commands/
/client.html

